@page
@using EventScoringWeb.ViewComponents
@model EventScoringWeb.Pages.Judge.AddModel
@{
    Layout = "_AuthenticatedLayout";

}

@await Component.InvokeAsync("Dashboard", new DashboardViewModel()
{
    EventId = (Guid)Model.Input.EventId,
    Selected = "judges",
})

<div id="page-content-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7">
                <div class="form-card">
                    <h1 class="h1 form-title">Add a Judge</h1>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input hidden asp-for="@Model.Input.EventId" />
                        <div class="mb-3">
                            <label class="form-label text-secondary" asp-for="@Model.Input.FirstName"></label>
                            <input class="form-control" asp-for="@Model.Input.FirstName" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-secondary" asp-for="@Model.Input.LastName"></label>
                            <input class="form-control" asp-for="@Model.Input.LastName" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-secondary" asp-for="@Model.Input.Email"></label>
                            <input class="form-control" asp-for="@Model.Input.Email" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-secondary" asp-for="@Model.Input.Password"></label>
                            <input class="form-control" asp-for="@Model.Input.Password" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-secondary" asp-for="@Model.Input.ConfirmPassword"></label>
                            <input class="form-control" asp-for="@Model.Input.ConfirmPassword" />
                        </div>
                        @*         <div>
                        @Html.ListBoxFor(m => m.Input.CompetitionIds, Model.Competitions, "- Select Competition/s -")
                        </div> *@
                        <div class="mb-3">
                            <label class="form-label text-secondary" asp-for="@Model.Input.CompetitionIds"></label>
                            <select class="multiselect multiselect-competitions form-select" asp-for="@Model.Input.CompetitionIds" multiple="multiple" asp-items="@Model.Competitions">

                            </select>
                            @* <select class="form-select" multiple asp-for="@Model.Input.CompetitionIds" asp-items="@Model.Competitions"></select> *@
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-global">Add Judge</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.multiselect-competitions').select2();
        });
    </script>
}

