@page
@model EventScoringWeb.Pages.Judge.ScoreContestantModel
@{
    Layout = "_NoDashboardLayout";
}

<div id="page-content-wrapper">
    <div class="container">
        <div class="score-contestant-page">
            @if (ViewData["done"] != null)
            {
                <div class="d-flex flex-column gap-3 align-items-center">
                    <h1 class="scoring-completed text-center">@ViewData["done"]</h1>
                    <div>
                        <a asp-page="/Judge/Home" class="btn btn-global">Go back</a>
                    </div>
                </div>
            }
            else
            {
                <h1 class="h1 page-title">@Model.ScoreContestantVM.Contestant.FullName</h1>
                <h3 class="h3 abbvr">@Model.ScoreContestantVM.Contestant.Team.Abbreviation</h3>
                <h4 class="h4 competition-name">@Model.ScoreContestantVM.Competition.Name</h4>
                <div class="judge-scoring-form-container">
                    <form method="POST" id="score-form">
                        <div asp-validation-summary="All"></div>
                        <input asp-for="@Model.Input.CompetitionId" hidden />
                        <input asp-for="@Model.Input.ContestantId" hidden />
                        <div class="table-responsive">
                            <table class="table table-dark entity-table entity-table-full">
                                <thead>
                                    <tr>
                                        <th>Criteria</th>
                                        <th>Description</th>
                                        <th>Max Score</th>
                                        <th style="min-width: 100px; width: 15%;">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                    }
                                    @foreach (var criterion in Model.ScoreContestantVM.Criteria)
                                    {
                                        <tr>
                                            <td>@criterion.Name</td>
                                            <td>@criterion.Description</td>
                                            <td>@Math.Round(@criterion.PercentFromTotal, 2)</td>
                                            <td>
                                                <input hidden asp-for="@Model.Input.Scores[i].JudgeId" />
                                                <input hidden asp-for="@Model.Input.Scores[i].ContestantId" />
                                                <input hidden asp-for="@Model.Input.Scores[i].CriterionId" />
                                                <input class="input-score form-control"
                                                       type="number"
                                                       asp-for="@Model.Input.Scores[i].CriterionScore"
                                                       min="0" max="@criterion.PercentFromTotal" />
                                                @{
                                                    i++;
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>TOTAL</td>
                                    <td>
                                        <input class="form-control" disabled id="total-score" placeholder="Total" asp-for="@Model.Input.Total" />
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="my-4 bg-dark">
                            <textarea class="form-control" asp-for="@Model.Input.Remarks" placeholder="Remarks" style="width: 100%;">

                            </textarea>
                        </div>
                        <div class="text-end">
                            <button class="btn btn-global" id="score-submit-btn">Submit</button>
                        </div>
                    </form>
                </div>


                @section Scripts {
                <script>
                    $('.input-score').on('input', function () {
                        // check if manual input is above the max score
                        console.log($(this).val() + " on max " + $(this).attr("max"));

                        value = parseFloat($(this).val().trim());
                        max = parseFloat($(this).attr("max"));

                        if (value > max) {
                            $(this).addClass("invalid");
                        }
                        else {
                            $(this).removeClass("invalid");
                        }

                        // Update total score by summing up all input values
                        var totalScore = 0;
                        $('.input-score').each(function () {
                            totalScore += parseFloat($(this).val().trim()) || 0;
                        });

                        // Update the total score element
                        $('#total-score').val(totalScore);
                    });

                    // $("#score-submit-btn").on("click", e => {
                    //     e.preventDefault();

                    //     if ()

                    //     Swal.fire({
                    //         title: "Are you sure?",
                    //         text: "You will not be able to edit this contestant's scores after you submit.",
                    //         icon: "warning",
                    //         showCancelButton: true,
                    //         // confirmButtonColor: "#3085d6",
                    //         // cancelButtonColor: "#d33",
                    //         confirmButtonText: "Submit"
                    //     }).then((result) => {
                    //         if (result.isConfirmed) {
                    //             $("#score-form").submit();
                    //         }
                    //     });
                    // });
                </script>
                }
            }
        </div>
    </div>
</div>
