@page
@using EventScoringWeb.ViewComponents
@model EventScoringWeb.Pages.Contestants.AddModel
@{
    Layout = "_AuthenticatedLayout";
}

@await Component.InvokeAsync("Dashboard", new DashboardViewModel()
{
    EventId = (Guid)Model.Contestant.EventId,
    Selected = "contestant",
})

<div id="page-content-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7">
                <div class="form-card">
                    <h1 class="h1 form-title">Add a Contestant</h1>
                    <form method="POST">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input hidden asp-for="@Model.Contestant.EventId" />
                        <div class="mb-3">
                            <label class="form-label text-secondary" asp-for="@Model.Contestant.FirstName"></label>
                            <input class="form-control" asp-for="@Model.Contestant.FirstName" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-secondary" asp-for="@Model.Contestant.LastName"></label>
                            <input class="form-control" asp-for="@Model.Contestant.LastName" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-secondary" asp-for="@Model.Contestant.TeamId"></label>
                            <select class="form-select" asp-for="@Model.Contestant.TeamId" asp-items="@Model.Teams">
                                <option disabled selected class="text-muted">- Select Team -</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-secondary" asp-for="@Model.Contestant.CompetitionId"></label>
                            <select class="form-select" asp-for="@Model.Contestant.CompetitionId" asp-items="@Model.Competitions">
                                <option disabled selected class="text-muted">- Select Competition -</option>
                            </select>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-global">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

