@page
@using EventScoringWeb.ViewComponents
@model EventScoringWeb.Pages.Criteria.IndexModel
@{
    Layout = "_AuthenticatedLayout";
}

@await Component.InvokeAsync("Dashboard", new DashboardViewModel()
{
    EventId = (Guid)Model.EventId,
    Selected = "criteria",
})

<div id="page-content-wrapper">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h1 page-title">Criteria</h1>
            <div>
                <a asp-page="Add" class="btn btn-global" asp-route-eventId="@Model.EventId">Add Criterion</a>
            </div>
        </div>
        <div>
            @if (Model.Criteria.Count() == 0)
            {
                <div class="empty-page-container">
                    <h1 class="h1 empty-page-title">
                        It seems you currently do not have any criteria set.
                    </h1>
                    <div>
                        <a asp-page="Add" class="btn btn-global" asp-route-eventId="@Model.EventId">Add Criteria</a>
                    </div>
                </div>
            }
            else
            {
                @foreach (var group in Model.Criteria)
                {
                    <div class="mb-4">
                        <h3 class="h3 mb-3">@group.Key</h3>
                        <div class="table-responsive">
                            <table class="table table-dark entity-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Percent From Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var criterion in group)
                                    {
                                        <tr>
                                            <td>@criterion.Name</td>
                                            <td>@criterion.Description</td>
                                            <td>@Math.Round(@criterion.PercentFromTotal, 2)</td>
                                            <td>
                                                <div class="m-1">
                                                    <a class="btn text-white" asp-page="Edit" asp-route-eventId="@Model.EventId" asp-route-criterionId="@criterion.CriterionId">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </a>
                                                    <form class="d-inline delete-form" method="POST" asp-page="Index" asp-page-handler="Delete" asp-route-id="@criterion.CriterionId">
                                                        <input asp-for="@Model.EventId" hidden />
                                                        <button type="submit" class="btn text-white">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
</div>
